
<div class="row marketing">

<p> Developed by Henry Diesel </p>
  <p>
    Notes on the created application:
    <ul>
      <li>Returns the usd bitcoin price.</li>
      <li>Shows the opening price for each day.</li>
      <li>All prices are rounded down to a full dollar value.</li>
      <li>When checking for prime numbers in the price, uses only single digit prime numbers.</li>
      <li>A start date may be filled in without an end date.  The current date will be used as the end date.</li>
      <li>The current day's info cannot be displayed as its only available on the next day.</li>
    </ul>
  </p>

<br>
<p>Technologies used:<p>
<ul>
<li>Angular1/JS</li>
<li>Angular Material Design.</li>
<li>npm package manager.</li>
<li>bower for additional package management.</li>
<li>grunt to run the application.</li>
<li>yo generator to set up the application.</li>
<li><a href="https://docs.bitfinex.com/v2/docs/rest-public"> BITFINEX</a> rest webservice to retrieve dynamic info.</li>
<li>GIT for version management and sharing the application.</li>
</ul>
</p>
<br>
<p>
<!-- catgif -->
<img ng-src="https://media.giphy.com/media/ule4vhcY1xEKQ/giphy.gif">
</p>
</div>
