<div class="row marketing">
  <p>
    Write a simple program that does the following:
  </p>
  <p>- in the daily bitcoin price for a given period (input from a user but max 6 months period), on which days is the total number of the prime numbers in that price, a prime number itself - pull the bitcoin price from somewhere,
    don’t hard code it.
  </p>
  <p>
    - write the program in some JavaScript based language (react, node, etc).
  </p>
  <p>
    - create a basically styled interface, but with some polish.
  </p>



</div>
